@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h2 class="display-4"> Welcome to the Banking System </h2>
    <p class="lead">This is the homepage of the Banking System.</p>
    <p class="lead">Umesh yadav_25327 .</p>

</div>
@* MVC Application *@
@* MVC application *@